### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [103]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [119]:
data.student_name

0             Paul Bradley
1             Victor Smith
2          Kevin Rodriguez
3        Dr. Richard Scott
4               Bonnie Ray
               ...
39165         Donna Howard
39166            Dawn Bell
39167       Rebecca Tanner
39168         Desiree Kidd
39169      Carolyn Jackson
Name: student_name, Length: 39170, dtype: object

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [105]:
schools = pd.DataFrame(pd.unique(data['school_name'])) ##if i remember right argument return a list..
schools.count()
##it works

0    15
dtype: int64

In [106]:
total_schools = data['school_name'].value_counts().count()

In [107]:
#Total Budget
total_budget = data.budget.sum()

In [108]:
#total students
total_stu = len(data)

In [109]:
#Calculate the average math score
avg_m = format(data.math_score.mean(), '.2f')

In [110]:
#Calculate the average reading score
avg_r = format(data.reading_score.mean(), '.2f')

In [111]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall = format((float(avg_r) + float(avg_m))/2, '.2f')

In [112]:
#Calculate the percentage of students with a passing math score (70 or greater)
pass_m = pd.Series(data.math_score > 70)
pass_mm = pass_m.sum()
pass_m_per = format((pass_m.sum()/len(data.index)) *100, '.2f')

In [113]:
#Calculate the percentage of students with a passing reading score (70 or greater)
pass_r = pd.Series(data.reading_score > 70) ##makes a boolean series 
pass_rr = pass_r.sum() ##sums amounts of 'True'...somehow...
pass_r_per = format((pass_r.sum()/len(data)) *100, '.2f') ## maths :D

In [114]:
#Create a dataframe to hold the above results
ind = ['total_schools', 'total_students', 'total_budget',
       'avg_math_score', 'avg_reading_score', 'math_passing', 
      'reading_passing', 'overall_score'
      ]
##have to make list before series or data frame
avgs = pd.DataFrame([total_schools, total_stu, total_budget, avg_m, avg_r, pass_m_per, pass_r_per, overall], 
                    columns = ['Avgs'],index = ind)
print(avgs)

                          Avgs
total_schools               15
total_students           39170
total_budget       82932329558
avg_math_score           78.99
avg_reading_score        81.88
math_passing             72.39
reading_passing          82.97
overall_score            80.44

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [156]:
##create list of school name to set as index 
skoolname = data.school_name.sort_values().unique()  ##have to do sort values first, .unique first creates nparray
print(skoolname)
##maybe not best cause of sorting but IDK #i think loop methodwill keep sorted

['Bailey High School' 'Cabrera High School' 'Figueroa High School'
 'Ford High School' 'Griffin High School' 'Hernandez High School'
 'Holden High School' 'Huang High School' 'Johnson High School'
 'Pena High School' 'Rodriguez High School' 'Shelton High School'
 'Thomas High School' 'Wilson High School' 'Wright High School']

In [159]:
students = []
for skol in skoolname:
    students.append(len(data[data["school_name"].str.contains(skol)]))
students

[4976,
 1858,
 2949,
 2739,
 1468,
 4635,
 427,
 2917,
 4761,
 962,
 3999,
 1761,
 1635,
 2283,
 1800]

In [120]:
##skool type list
typ3 = []
for skol in skoolname:
    typ3.append(str(data[data["school_name"].str.startswith(skol)].type.unique())) 
    
##there has to be a better way
#this gives list of strings of lists

["['District']",
 "['Charter']",
 "['District']",
 "['District']",
 "['Charter']",
 "['District']",
 "['Charter']",
 "['District']",
 "['District']",
 "['Charter']",
 "['District']",
 "['Charter']",
 "['Charter']",
 "['Charter']",
 "['Charter']"]

In [213]:

budgets = []
per_stu_bud = []

math_means = []
read_means = []

raw_math_pass = []
math_pass = []

raw_read_pass = []
read_pass = []

overall_score = []

for skol in skoolname:
    budgets.append(data[data["school_name"].str.startswith(skol)].budget.sum())
    math_means.append(data[data["school_name"].str.contains(skol)].math_score.mean())
    read_means.append(data[data["school_name"].str.startswith(skol)].reading_score.mean())
    raw_math_pass.append(pd.Series(data[data["school_name"].str.startswith(skol)].math_score >= 70).sum())
    raw_read_pass.append(pd.Series(data[data["school_name"].str.startswith(skol)].reading_score >= 70).sum())

    
##per student budget
for i in range(0, len(budgets)):
    per_stu_bud.append(budgets[i]/students[i])
    
##%%math pass
for i in range(0, len(raw_math_pass)):
    math_pass.append(raw_math_pass[i]/students[i] * 100)
    
##% read pass
for i in range(0, len(raw_read_pass)):
    read_pass.append(raw_read_pass[i]/students[i] * 100)
    
for i in range(0, len(read_pass)):
    overall_score.append((math_pass[i]+read_pass[i])/2)

In [216]:
#Put it all in a data frame

school_df = pd.DataFrame({
    'Type': typ3,
    'Total_student' : students,
    'Per_Student_Budget' : per_stu_bud,
    'Avg_Math_Score' : math_means,
    'Avg_Reading_Score' : read_means,
    'Percent_Passing_Math' : math_pass,
    'Percent_Passing_Reading': read_pass,
    'Overall_Score' : overall_score},
    index = skoolname).style.format({"Avg_Math_Score": "{:,.2f}", 
                          "Avg_Reading_Score": "{:,.2f}", 
                          "Percent_Passing_Math": "{:,.2f}%",
                          "Percent_Passing_Reading":"{:,.2f}%",
                           "Overall_Score":"{:,.2f}"})

school_df

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [188]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [213]:
##class note lol
print(pd.cut(x=data.math_score, bins = 10))

pd.cut(x=data.math_score, bins = [0, 60, 70, 80, 90],labels = ['D', 'c', 'b', 'a'],  )

0          (77.0, 81.4]
1          (59.4, 63.8]
2          (59.4, 63.8]
3        (54.956, 59.4]
4          (81.4, 85.8]
              ...
39165      (85.8, 90.2]
39166      (68.2, 72.6]
39167      (81.4, 85.8]
39168      (85.8, 90.2]
39169      (72.6, 77.0]
Name: math_score, Length: 39170, dtype: category
Categories (10, interval[float64]): [(54.956, 59.4] < (59.4, 63.8] < (63.8, 68.2] < (68.2, 72.6] ... (81.4, 85.8] < (85.8, 90.2] < (90.2, 94.6] < (94.6, 99.0]]

0        b
1        c
2        D
3        D
4        a
        ..
39165    a
39166    c
39167    a
39168    a
39169    b
Name: math_score, Length: 39170, dtype: category
Categories (4, object): [D < c < b < a]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [191]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [192]:
pd.cut(x=data.budget, bins = size_bins)

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
39165    NaN
39166    NaN
39167    NaN
39168    NaN
39169    NaN
Name: budget, Length: 39170, dtype: category
Categories (3, interval[int64]): [(0, 1000] < (1000, 2000] < (2000, 5000]]

## Scores by School Type

* Perform the same operations as above, based on school type.