### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [47]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [48]:
print(data)

       Student ID       student_name gender grade         school_name  \
0               0       Paul Bradley      M   9th   Huang High School
1               1       Victor Smith      M  12th   Huang High School
2               2    Kevin Rodriguez      M  12th   Huang High School
3               3  Dr. Richard Scott      M  12th   Huang High School
4               4         Bonnie Ray      F   9th   Huang High School
...           ...                ...    ...   ...                 ...
39165       39165       Donna Howard      F  12th  Thomas High School
39166       39166          Dawn Bell      F  10th  Thomas High School
39167       39167     Rebecca Tanner      F   9th  Thomas High School
39168       39168       Desiree Kidd      F  10th  Thomas High School
39169       39169    Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
0                 66          79          0  District  2917  1910635
1                 94          61          0  District  2917  1910635
2                 90          60          0  District  2917  1910635
3                 67          58          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[39170 rows x 11 columns]

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [49]:
schools = pd.DataFrame(pd.unique(data['school_name']))
schools.count()\
##it works

0    15
dtype: int64

In [96]:
#data.value_counts('school_name')
##what am i doing wrong?
#####Answer
print(data['school_name'].value_counts())
total_schools = data['school_name'].value_counts().count(

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [52]:
#for reference
data.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [102]:
#Total Budget
total_budget = data.budget.sum()
total_stu = len(data)

In [103]:
#Calculate the average math score
avg_m = data.math_score.mean()
print(avg_m)

78.98537145774827

In [104]:
#Calculate the average reading score
avg_r = data.reading_score.mean()
print(avg_r)

81.87784018381414

In [105]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall = (avg_r + avg_m)/2

In [106]:
#Calculate the percentage of students with a passing math score (70 or greater)
pass_m = pd.Series(data.math_score > 70)
print(pass_m.sum())
pass_m_per = format((pass_m.sum()/len(data.index)) *100, '.2f')
print(pass_m_per+'%')

28356
72.39%

In [107]:
#Calculate the percentage of students with a passing reading score (70 or greater)
pass_r = pd.Series(data.reading_score > 70) ##makes a boolean series 
print(pass_r.sum()) ##sums amounts of 'True'...somehow...
pass_r_per = format((pass_r.sum()/len(data)) *100, '.2f') ## maths :D
print(pass_r_per+'%')

32500
82.97%

In [111]:
#Create a dataframe to hold the above results
ind = ['total_schools', 'total_students', 'total_budget',
       'avg_math_score', 'avg_reading_score', 'math_passing', 
      'reading_passing', 'overall_passing'
      ]
clean_data = pd.Series(total_schools, total_stu, total_budget, avg_m, avg_r, pass_m, pass_r, overall)

TypeError: __init__() takes from 1 to 7 positional arguments but 9 were given

In [109]:
Calculate the total number of schools

Calculate the total number of students

Calculate the total budget

Calculate the average math score

Calculate the average reading score

Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

Calculate the percentage of students with a passing math score (70 or greater)
Optional: give the displayed data cleaner formatting

SyntaxError: invalid syntax (<ipython-input-109-d186eb921a37>, line 1)

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.