### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [219]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [417]:
data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [580]:
total_schools = data['school_name'].value_counts().count()

In [581]:
#total students
total_stu = len(data)

In [582]:
#Total Budget
total_budget = data.budget.unique().sum()

In [583]:
#Calculate the average math score
avg_m = format(data.math_score.mean(), '.2f')

In [584]:
#Calculate the average reading score
avg_r = format(data.reading_score.mean(), '.2f')

In [585]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall = format((float(avg_r) + float(avg_m))/2, '.2f')

In [586]:
#Calculate the percentage of students with a passing math score (70 or greater)
pass_m = pd.Series(data.math_score > 70)
pass_mm = pass_m.sum()
pass_m_per = format((pass_m.sum()/len(data.index)) *100, '.2f')

In [587]:
#Calculate the percentage of students with a passing reading score (70 or greater)
pass_r = pd.Series(data.reading_score > 70) ##makes a boolean series 
pass_rr = pass_r.sum() ##sums amounts of 'True'...somehow...
pass_r_per = format((pass_r.sum()/len(data)) *100, '.2f') ## maths :D

In [588]:
#Create a dataframe to hold the above results
ind = ['total_schools', 'total_students', 'total_budget',
       'avg_math_score', 'avg_reading_score', 'math_passing', 
      'reading_passing', 'overall_score'
      ]
##have to make list before series or data frame
avgs = pd.DataFrame([total_schools, total_stu, total_budget, avg_m, avg_r, pass_m_per, pass_r_per, overall], 
                    columns = ['Avgs'],index = ind)
print(avgs)

                       Avgs
total_schools            15
total_students        39170
total_budget       24649428
avg_math_score        78.99
avg_reading_score     81.88
math_passing          72.39
reading_passing       82.97
overall_score         80.44

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [589]:
##create list of school name to set as index 
skoolname = data.school_name.sort_values().unique()  ##have to do sort values first, .unique first creates nparray

In [591]:
typ3 = []##there has to be a better way
#this gives list of strings of lists 
##maybe use loc or iloc
students = []
budgets = []
per_stu_bud = []

math_means = []
read_means = []

raw_math_pass = []
math_pass = []

raw_read_pass = []
read_pass = []

overall_score = []

for skol in skoolname:
    typ3.append(str(data[data["school_name"].str.startswith(skol)].type.unique())) 
    students.append(len(data[data["school_name"].str.contains(skol)]))
    budgets.append(int(data[data["school_name"].str.startswith(skol)].budget.unique()))
    math_means.append(data[data["school_name"].str.contains(skol)].math_score.mean())
    read_means.append(data[data["school_name"].str.startswith(skol)].reading_score.mean())
    raw_math_pass.append(pd.Series(data[data["school_name"].str.startswith(skol)].math_score >= 70).sum())
    raw_read_pass.append(pd.Series(data[data["school_name"].str.startswith(skol)].reading_score >= 70).sum())

    
##per student budget
for i in range(0, len(budgets)):
    per_stu_bud.append((budgets[i]/students[i]))
    
##%%math pass
for i in range(0, len(raw_math_pass)):
    math_pass.append(raw_math_pass[i]/students[i] * 100)
    
##% read pass
for i in range(0, len(raw_read_pass)):
    read_pass.append(raw_read_pass[i]/students[i] * 100)
    
for i in range(0, len(read_pass)):
    overall_score.append((math_pass[i]+read_pass[i])/2)

In [614]:
def format_frame(frame):
    return frame.drop(['raw_math_pass', 'raw_read_pass'], axis = 1)\
                .style.format({ 
                   "Budget_Per_Student": "${:,.0f}",
                   "Avg_Math_Score": "{:,.2f}", 
                   "Avg_Reading_Score": "{:,.2f}", 
                   "Percent_Passing_Math": "{:,.2f}%",
                   "Percent_Passing_Reading":"{:,.2f}%",
                   "Overall_Score":"{:,.2f}"})\
                    .set_properties(**{'text-align': 'center'})

#Put it all in a data frame.drop(['raw_math_pass', 'raw_read_pass'], axis = 1)
school_df = pd.DataFrame({
    'Type': typ3,
    'Total_Student' : students,
    "Budget_Per_Student" : per_stu_bud,
    'Avg_Math_Score' : math_means,
    'Avg_Reading_Score' : read_means,
    'raw_math_pass' : raw_math_pass,
    'Percent_Passing_Math' : math_pass,
    'raw_read_pass' : raw_read_pass,
    'Percent_Passing_Reading': read_pass,
    'Overall_Score' : overall_score},
    index = skoolname)
school_df2 = school_df

format_df = fram_format(school_df2)

format_df

## Top Performing Schools (By Passing Rate)

In [612]:
top = school_df.sort_values(by = ['Overall_Score'], ascending = False).head(5)
form_top = format_frame(top)
form_top

## Bottom Performing Schools (By Passing Rate)

In [602]:
worst = school_df.sort_values(by = ['Overall_Score']).head(5)
form_worst = format_frame(worst)
form_worst

## Math Scores by Grade

In [616]:
grade_df = pd.DataFrame([data.groupby(['school_name','grade']).math_score.mean(),
                        data.groupby(['school_name','grade']).reading_score.mean()])
grade_df = grade_df.T
grade_df

                             math_score  reading_score
school_name           grade
Bailey High School    10th    76.996772      80.907183
                      11th    77.515588      80.945643
                      12th    76.492218      80.912451
                      9th     77.083676      81.303155
Cabrera High School   10th    83.154506      84.253219
                      11th    82.765560      83.788382
                      12th    83.277487      84.287958
                      9th     83.094697      83.676136
Figueroa High School  10th    76.539974      81.408912
                      11th    76.884344      80.640339
                      12th    77.151369      81.384863
                      9th     76.403037      81.198598
Ford High School      10th    77.672316      81.262712
                      11th    76.918058      80.403642
                      12th    76.179963      80.662338
                      9th     77.361345      80.632653
Griffin High School   10th    84.229064      83.706897
                      11th    83.842105      84.288089
                      12th    83.356164      84.013699
                      9th     82.044010      83.369193
Hernandez High School 10th    77.337408      80.660147
                      11th    77.136029      81.396140
                      12th    77.186567      80.857143
                      9th     77.438495      80.866860
Holden High School    10th    83.429825      83.324561
                      11th    85.000000      83.815534
                      12th    82.855422      84.698795
                      9th     83.787402      83.677165
Huang High School     10th    75.908735      81.512386
                      11th    76.446602      81.417476
                      12th    77.225641      80.305983
                      9th     77.027251      81.290284
Johnson High School   10th    76.691117      80.773431
                      11th    77.491653      80.616027
                      12th    76.863248      81.227564
                      9th     77.187857      81.260714
Pena High School      10th    83.372000      83.612000
                      11th    84.328125      84.335938
                      12th    84.121547      84.591160
                      9th     83.625455      83.807273
Rodriguez High School 10th    76.612500      80.629808
                      11th    76.395626      80.864811
                      12th    77.690748      80.376426
                      9th     76.859966      80.993127
Shelton High School   10th    82.917411      83.441964
                      11th    83.383495      84.373786
                      12th    83.778976      82.781671
                      9th     83.420755      84.122642
Thomas High School    10th    83.087886      84.254157
                      11th    83.498795      83.585542
                      12th    83.497041      83.831361
                      9th     83.590022      83.728850
Wilson High School    10th    83.724422      84.021452
                      11th    83.195326      83.764608
                      12th    83.035794      84.317673
                      9th     83.085578      83.939778
Wright High School    10th    84.010288      83.812757
                      11th    83.836782      84.156322
                      12th    83.644986      84.073171
                      9th     83.264706      83.833333

## Reading Score by Grade( look above)

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [604]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group = ["<$585", "$585-615", "$615-645", "$645-675"]

budgetbin = pd.cut(x=school_df.Budget_Per_Student, bins = spending_bins, labels = group)
school_df['Budget_Category'] = budgetbin

budget_df = school_df.groupby('Budget_Category').sum()
budget_df2 = school_df.groupby('Budget_Category')['Avg_Math_Score',
                                                  'Avg_Reading_Score'].mean()
budget_df2['percent_math'] = budget_df.apply(lambda x: x.raw_math_pass/x.Total_Student, axis = 1)
budget_df2['percent_reading'] = budget_df.apply(lambda x: x.raw_read_pass/x.Total_Student, axis = 1)
budget_df2
form_budget = budget_df2.style.format({"percent_math":"{:.2%}",
                                     "percent_reading":"{:.2%}"})
form_budget

In [605]:
school_df

,Type,Total_Student,Budget_Per_Student,Avg_Math_Score,Avg_Reading_Score,raw_math_pass,Percent_Passing_Math,raw_read_pass,Percent_Passing_Reading,Overall_Score,Budget_Category
Bailey High School,['District'],4976,628.0,77.048432,81.033963,3318,66.680064,4077,81.933280,74.306672,$615-645
Cabrera High School,['Charter'],1858,582.0,83.061895,83.975780,1749,94.133477,1803,97.039828,95.586652,<$585
Figueroa High School,['District'],2949,639.0,76.711767,81.158020,1946,65.988471,2381,80.739234,73.363852,$615-645
Ford High School,['District'],2739,644.0,77.102592,80.746258,1871,68.309602,2172,79.299014,73.804308,$615-645
Griffin High School,['Charter'],1468,625.0,83.351499,83.816757,1371,93.392371,1426,97.138965,95.265668,$615-645
Hernandez High School,['District'],4635,652.0,77.289752,80.934412,3094,66.752967,3748,80.862999,73.807983,$645-675
Holden High School,['Charter'],427,581.0,83.803279,83.814988,395,92.505855,411,96.252927,94.379391,<$585
Huang High School,['District'],2917,655.0,76.629414,81.182722,1916,65.683922,2372,81.316421,73.500171,$645-675
Johnson High School,['District'],4761,650.0,77.072464,80.966394,3145,66.057551,3867,81.222432,73.639992,$645-675
Pena High School,['Charter'],962,609.0,83.839917,84.044699,910,94.594595,923,95.945946,95.270270,$585-615
Rodriguez High School,['District'],3999,637.0,76.842711,80.744686,2654,66.366592,3208,80.220055,73.293323,$615-645
Shelton High School,['Charter'],1761,600.0,83.359455,83.725724,1653,93.867121,1688,95.854628,94.860875,$585-615
Thomas High School,['Charter'],1635,638.0,83.418349,83.848930,1525,93.272171,1591,97.308869,95.290520,$615-645
Wilson High School,['Charter'],2283,578.0,83.274201,83.989488,2143,93.867718,2204,96.539641,95.203679,<$585
Wright High School,['Charter'],1800,583.0,83.682222,83.955000,1680,93.333333,1739,96.611111,94.972222,<$585

## Scores by School Size

* Perform the same operations as above, based on school size.

In [606]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

sizebin = pd.cut(x=school_df.Total_Student, bins = size_bins, labels = group_names)
school_df['Size_Category'] = sizebin

size_df = school_df.groupby('Size_Category').sum()
size_df2 = school_df.groupby('Size_Category')['Avg_Math_Score',
                                                  'Avg_Reading_Score'].mean()
size_df2['percent_math'] = size_df.apply(lambda x: x.raw_math_pass/x.Total_Student, axis = 1)
size_df2['percent_reading'] = size_df.apply(lambda x: x.raw_read_pass/x.Total_Student, axis = 1)
size_df2
form_size = size_df2.style.format({"percent_math":"{:.2%}",
                                     "percent_reading":"{:.2%}"})
form_size

## Scores by School Type

* Perform the same operations as above, based on school type.

In [607]:
type_df = school_df.groupby('Type').sum()
type_df2 = school_df.groupby('Type')['Avg_Math_Score',
                                     'Avg_Reading_Score'].mean()
type_df2['percent_math'] = type_df.apply(lambda x: x.raw_math_pass/x.Total_Student, axis = 1)
type_df2['percent_reading'] = type_df.apply(lambda x: x.raw_read_pass/x.Total_Student, axis = 1)
type_df2
form_type = type_df2.style.format({"percent_math":"{:.2%}",
                                     "percent_reading":"{:.2%}"})
form_type

In [617]:
##ANALYSIS