### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [3]:
data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [150]:
schools = pd.DataFrame(pd.unique(data['school_name'])) ##if i remember right argument return a list..
schools.count()
##it works

0    15
dtype: int64

In [23]:
#data.value_counts('school_name')
##what am i doing wrong?
#####Answer

total_schools = data['school_name'].value_counts().count()
#print(total_schools)
data['school_name'].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [24]:
#for reference
data.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [25]:
#Total Budget
total_budget = data.budget.sum()
total_stu = len(data)

In [26]:
#Calculate the average math score
avg_m = format(data.math_score.mean(), '.2f')
print(avg_m)

78.99

In [29]:
#Calculate the average reading score
avg_r = format(data.reading_score.mean(), '.2f')

In [32]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall = format((float(avg_r) + float(avg_m))/2, '.2f')
print(overall)

80.44

In [33]:
#Calculate the percentage of students with a passing math score (70 or greater)
pass_m = pd.Series(data.math_score > 70)
pass_mm = pass_m.sum()
pass_m_per = format((pass_m.sum()/len(data.index)) *100, '.2f')
print(pass_m_per+'%')

72.39%

In [34]:
#Calculate the percentage of students with a passing reading score (70 or greater)
pass_r = pd.Series(data.reading_score > 70) ##makes a boolean series 
pass_rr = pass_r.sum() ##sums amounts of 'True'...somehow...
pass_r_per = format((pass_r.sum()/len(data)) *100, '.2f') ## maths :D
print(pass_r_per+'%')

82.97%

In [35]:
#Create a dataframe to hold the above results
ind = ['total_schools', 'total_students', 'total_budget',
       'avg_math_score', 'avg_reading_score', 'math_passing', 
      'reading_passing', 'overall_score'
      ]
##have to make list before series or data frame
avgs = pd.DataFrame([total_schools, total_stu, total_budget, avg_m, avg_r, pass_m_per, pass_r_per, overall], 
                    columns = ['Avgs'],index = ind)
print(avgs)

                          Avgs
total_schools               15
total_students           39170
total_budget       82932329558
avg_math_score           78.99
avg_reading_score        81.88
math_passing             72.39
reading_passing          82.97
overall_score            80.44

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [152]:
data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [168]:
##create list of school name to set as index 
skoolname = data.school_name.sort_values().unique()  ##have to do sort values first, .unique first creates nparray
print(skoolname)
##maybe not best cause of sorting but IDK

['Bailey High School' 'Cabrera High School' 'Figueroa High School'
 'Ford High School' 'Griffin High School' 'Hernandez High School'
 'Holden High School' 'Huang High School' 'Johnson High School'
 'Pena High School' 'Rodriguez High School' 'Shelton High School'
 'Thomas High School' 'Wilson High School' 'Wright High School']

In [43]:
#df2 = pd.DataFrame([[data.school_name], 
                   #[data.type]],
                  #index = data.school_name.value_counts())
#df2

In [ ]:
#total students (I will try to create a data frame associated with each result)
##first look for total students in one school


#Total School Budget


#Per Student Budget
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#Overall Passing Rate (Average of the above two)

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [188]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [213]:
##class note lol
print(pd.cut(x=data.math_score, bins = 10))

pd.cut(x=data.math_score, bins = [0, 60, 70, 80, 90],labels = ['D', 'c', 'b', 'a'],  )

0          (77.0, 81.4]
1          (59.4, 63.8]
2          (59.4, 63.8]
3        (54.956, 59.4]
4          (81.4, 85.8]
              ...
39165      (85.8, 90.2]
39166      (68.2, 72.6]
39167      (81.4, 85.8]
39168      (85.8, 90.2]
39169      (72.6, 77.0]
Name: math_score, Length: 39170, dtype: category
Categories (10, interval[float64]): [(54.956, 59.4] < (59.4, 63.8] < (63.8, 68.2] < (68.2, 72.6] ... (81.4, 85.8] < (85.8, 90.2] < (90.2, 94.6] < (94.6, 99.0]]

0        b
1        c
2        D
3        D
4        a
        ..
39165    a
39166    c
39167    a
39168    a
39169    b
Name: math_score, Length: 39170, dtype: category
Categories (4, object): [D < c < b < a]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [191]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [192]:
pd.cut(x=data.budget, bins = size_bins)

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
39165    NaN
39166    NaN
39167    NaN
39168    NaN
39169    NaN
Name: budget, Length: 39170, dtype: category
Categories (3, interval[int64]): [(0, 1000] < (1000, 2000] < (2000, 5000]]

## Scores by School Type

* Perform the same operations as above, based on school type.